# Vim Swap files #
*.swp

# Objects files #
*.o

# Dependancies files #
*.d

# Mac debug folder #
*.dsYM

# Executables #
*.out

# Archive files #
*.a

# Debug file #
.debug

# Libraries directory #
libs
